body {
background-color: #282c34;
}

.App {
  text-align: center;  
  color: beige;
}

header {
  height:50vh;
}

main p {
  margin: 20px;
}

footer p {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) {
  header {
    height: 50vh;
  }
}

@media (min-width: 400px) {
  header {
    height: 45vh;
  }
}

@media (min-width: 600px) {
  header {
    height: 40vh;
  }
}