ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration-line: underline;
    text-decoration-style: double;

    color: rgb(218, 218, 93);
}

ul {
    margin-bottom: 40px;
}